@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #E0EBFF;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li,
a,
button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 5%;
	height: 70px;
	width: 100%;
	background-color: #005AFF;
}

.nav-links {
	align-self: flex-end;
}

.nav-links li {
	display: inline-block;
	list-style: none;
	padding: 0px 0px 0px 60px;
}

#logo {
	margin-right: auto;
}

.Heading {

	/* width: 50%; */
	text-align: center;
	font-size: 45px;
	color: #232323;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	padding: 70px 50px 5px 50px;
}

.sub-heading {
	font-size: 19px;
	text-align: center;
	color: #232323;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	padding: 0px 50px 40px 50px;
}

.location {
	height: 80px;
	width: 55%;
	background-color: #367DFE;
	border-radius: 27px;
	display: flex;
	align-items: center;
	padding: 0px 10px 0px 10px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	transform: translateY(50%);
	filter: drop-shadow(0px -9px 102px rgba(28, 108, 255, 0.5));
}

.location p {
	margin-left: 25px;
	font-size: 20px;
	font-width: 700;
}

#arrow-location {
	width: 30%;
	height: 30%;
}


#loc-opt {
	width: 33%;
	background-color: #C1D7FF;
	outline: none;
	border: none;
	height: 60px;
	border-radius: 17px;
	-webkit-appearance: none;
	appearance: none;
}

#loc-opt select {
	appearance: none;
	-webkit-apprearence: none;
}

.Hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: auto;
	padding: 7% 60px 4% 60px;
	background: linear-gradient(99.81deg, #001843 0%, #010E26 100%);
}

.grid-container {
	display: grid;
	width: 100%;
	height: 100%;

	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 15px;
	grid-column-gap: 15px;

}

.grid-item {

	height: 210px;
	background: linear-gradient(112.57deg, #367DFE 0.94%, #0054EC 100%);
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	padding: 6.5%;
	justify-content: space-between;
	align-content: flex-start;
}

.large {
	display: flex;
	padding: 3% 3% 3% 5%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	grid-column: 1/ span 3;
}

.large p {
	font-size: 43px;
	font-weight: 600;
}

.submit-button {
	background-color: #e7b708;
	/* Green */
	border: none;
	color: #1c1c1c;
	padding: 70px 85px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	font-weight: 650;
	border-radius: 65px;
}

.box-5 {
	background: linear-gradient(114.19deg, #02C438 0%, #01972B 101.43%);
}

#icon {

	top: 0;
	left: 0;
	height: 30%;
	align-self: flex-start;

}

.box-text {
	display: flex;

	align-items: center;
	/* border: 4px solid #d10ac1; */
}

.box-text p {
	font-size: 18px;
	font-weight: 500;
}

#arrow {
	height: 35%;
}

/* .icon-div {
	display: flex;
	justify-content: flex-start;
	border: 4px solid #d10ac1;
} */
#input-in-box {
	width: 100%;
	align-self: center;
	background-color: rgba(255, 255, 255, 0.54);
	outline: none;
	border: none;
	height: 50px;
	border-radius: 13px;
	padding: 20px;
	font-style: normal;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
}

::placeholder {
	font-style: normal;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.25);
}

.price {
	font-size: 50px;
	font-weight: 700;
}